.App {
  font-family: sans-serif;
  text-align: center;
}

.palette {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
}

.palette button {
  margin-left: 2rem;
}

.SwatchShades {
  display: flex;
  flex-flow: row nowrap;
  flex-grow: 1;
}

.radio input {
  opacity: 0;
  position: absolute;
}

.radio label {
  display: block;
  color: #fff;
  mix-blend-mode: exclusion;
  padding: 2rem;
  box-sizing: border-box;
  border: 2px solid transparent;
}

.radio input:checked + label {
  border: 2px solid grey;
}
